name: CI - lint

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: cargo lint
        run:
          - rustup component add clippy
          - cargo clippy -p advent_of_code_2025 -- -D warnings
